<!-- ----------------------------------------------------------------------- -->
<!--                                parteners                                -->
<!-- ----------------------------------------------------------------------- -->
<section class="partners-section container">
    <div class="carousel">
        <owl-carousel-o [options]="partnersCarouselOpts">
            <ng-template carouselSlide class="flex-container partner-item">
                <div class="partner-logo flex-container flex-centered">
                    <figure><img src="" alt=""></figure>
                </div>
            </ng-template>
            <ng-template carouselSlide class="flex-container">
                <div class="partner-logo flex-container flex-centered">
                    <figure> <img src="https://www.chamber.sa/ParticipantData/Part_20210705120641.jpg" alt=""></figure>
                </div>
            </ng-template>
            <ng-template carouselSlide class="flex-container">
                <div class="partner-logo flex-container flex-centered">
                    <figure><img src="https://www.chamber.sa/ParticipantData/Part_20210705120641.jpg" alt=""></figure>
                </div>
            </ng-template>
            <ng-template carouselSlide class="flex-container">
                <div class="partner-logo flex-container flex-centered">
                    <figure> <img src="https://www.chamber.sa/ParticipantData/Part_20210705120641.jpg" alt=""></figure>
                </div>
            </ng-template>
            <ng-template carouselSlide class="flex-container">
                <div class="partner-logo flex-container flex-centered">
                    <figure><img src="https://www.chamber.sa/ParticipantData/Part_20210705120641.jpg" alt=""> </figure>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
  </section>