<!-- ----------------------------------------------------------------------- -->
<!--                                parteners                                -->
<!-- ----------------------------------------------------------------------- -->
<section class="partners-section container">
    <div class="carousel container carousol-item py-3" class="hover02 column"> 
        <owl-carousel-o [options]="partnersCarouselOpts">
            <ng-template carouselSlide class="flex-container partner-item">
                <div class="partner-logo flex-container flex-centered">
                    <figure><img src="" alt=""></figure>
                </div>
            </ng-template>
            <ng-template carouselSlide class="flex-container">
                <div class="partner-logo flex-container flex-centered">
                    <figure> <img src="https://www.chamber.sa/ParticipantData/1-5.png" alt=""></figure>
                </div>
            </ng-template>
            <ng-template carouselSlide class="flex-container">
                <div class="partner-logo flex-container flex-centered">
                    <figure><img src="https://www.chamber.sa/ParticipantData/Part_20210216120740.jpg" alt=""></figure>
                </div>
            </ng-template>
            <ng-template carouselSlide class="flex-container">
                <div class="partner-logo flex-container flex-centered">
                    <figure> <img src="https://www.chamber.sa/ParticipantData/Part_20210502130150.jpg" alt=""></figure>
                </div>
            </ng-template>
            <ng-template carouselSlide class="flex-container">
                <div class="partner-logo flex-container flex-centered">
                    <figure><img src="https://www.chamber.sa/ParticipantData/Part_20210502130321.jpg" alt=""> </figure>
                </div>
            </ng-template>

            <ng-template carouselSlide class="flex-container">
                <div class="partner-logo flex-container flex-centered">
                    <figure><img src="https://www.chamber.sa/ParticipantData/Part_20210525135327.jpg" alt=""> </figure>
                </div>
            </ng-template>
            <ng-template carouselSlide class="flex-container">
                <div class="partner-logo flex-container flex-centered">
                    <figure><img src="https://www.chamber.sa/ParticipantData/Part_20210525135506.jpg" alt=""> </figure>
                </div>
            </ng-template>
            <ng-template carouselSlide class="flex-container">
                <div class="partner-logo flex-container flex-centered">
                    <figure><img src="https://www.chamber.sa/ParticipantData/Part_20210602095935.jpg" alt=""> </figure>
                </div>
            </ng-template>
            <ng-template carouselSlide class="flex-container">
                <div class="partner-logo flex-container flex-centered">
                    <figure><img src="https://www.chamber.sa/ParticipantData/1-5.png" alt=""> </figure>
                </div>
            </ng-template>
            <ng-template carouselSlide class="flex-container">
                <div class="partner-logo flex-container flex-centered">
                    <figure><img src="https://www.chamber.sa/ParticipantData/Part_20210216120740.jpg" alt=""> </figure>
                </div>
            </ng-template>
            <ng-template carouselSlide class="flex-container">
                <div class="partner-logo flex-container flex-centered">
                    <figure><img src="https://www.chamber.sa/ParticipantData/Part_20210502130150.jpg" alt=""> </figure>
                </div>
            </ng-template>
            <ng-template carouselSlide class="flex-container">
                <div class="partner-logo flex-container flex-centered">
                    <figure><img src="https://www.chamber.sa/ParticipantData/Part_20210502130321.jpg" alt=""> </figure>
                </div>
            </ng-template>
            <ng-template carouselSlide class="flex-container">
                <div class="partner-logo flex-container flex-centered">
                    <figure><img src="https://www.chamber.sa/ParticipantData/Part_20210525135327.jpg" alt=""> </figure>
                </div>
            </ng-template>
            <ng-template carouselSlide class="flex-container">
                <div class="partner-logo flex-container flex-centered">
                    <figure><img src="https://www.chamber.sa/ParticipantData/Part_20210525135506.jpg" alt=""> </figure>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
  </section>