@import "../../../../assets/variables.scss";

.about {
  padding-top: 4em;
  position: relative;
  width: 100%;
  height: 450px;
  overflow: hidden;
  background-color: $primary-color;
  opacity: 0.9;
  .bg {
    width: 200em;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background: url(https://imgur.com/3sKBpRb.png) 0% 0% repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    -webkit-animation-name: MOVE-BG;
    -webkit-animation-duration: 150s;
    -webkit-animation-timing-function: linear;
  }
  @keyframes MOVE-BG {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-187%);
    }
  }
}
.box {
  width: 227px;
  height: 227px;
  a {
    display: block;
    text-align: center;
    transition: none;
    line-height: 1;
    color: $white;
    cursor: pointer;
    i {
      color: $white;
      padding-bottom: 20px;
    }
    i:hover {
      transition: all 0.15s ease-out 0s;
    }
    img {
      width: 70px;
      padding-bottom: 20px;
    }
  }
}
