<section class="swiper-slide  about" id="slide-about">
   <div class="bg"></div>
   <div class="container"> 
      <div class="container-services ">
         <div class="row" >
            <div class="col-md-3 col-sm-6 col-xs-6">
               <div class="box ">
                  <a><i class="fa fa-3x fa-camera animat-styles" aria-hidden="true"></i><br><span>المركز الإعلامي</span></a>
               </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
               <div class="box">
                  <a><i class="fa fa-3x fa-chalkboard-teacher" aria-hidden="true"></i><br><span>الخدمات الإلكترونية</span></a>
               </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
               <div class="box">
                  <a><i class="fa fa-3x fa-headset" aria-hidden="true"></i><br><span>خدمات الغرفة</span></a>
               </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
               <div class="box">
                  <a><i class="fa fa-3x fa-calendar-alt" aria-hidden="true"></i><br><span>الفعاليات والوفود</span></a>
               </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
               <div class="box">
                  <a><i class="fa fa-3x fa-users" aria-hidden="true"></i><br><span>لجان غرفة الرياض</span></a>
               </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
               <div class="box">
                  <a><img src="https://imgur.com/ZdNKFL3.png" alt=""><br><span>خدمات التدريب</span></a>
               </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
               <div class="box">
                  <a><i class="fa fa-3x fa-user-tie" aria-hidden="true"></i><br><span>خدمات التوظيف</span></a>
               </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
               <div class="box">
                  <a><i class="fa fa-3x fa-globe-americas" aria-hidden="true"></i><br><span>بوابة مرصد قطاع الأعمال</span></a>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- <owl-carousel-o class="" [options]="adsCenterOptions" dir="ltr">

   <ng-container>
      <ng-template carouselSlide>
         <img src="https://imgur.com/lZRdqfS.png">
      </ng-template>
      <ng-template carouselSlide>
         <img src="https://imgur.com/lZRdqfS.png">
      </ng-template>
   </ng-container>

</owl-carousel-o> -->