<section class="hero">
   <div class="hero-inner">
      <!-- <h1>My awesome website</h1>
      <h2>Look at this website and bask in its amazing glory!</h2>
      <a class="btn">Go ahead...</a> -->

      <div class="col-7">
         <h6>
            أهلا وسهلا بكم .. نتشرف بزيارتكم
         </h6>
         <h2>
            الرائدة لأنظمة المعلومات
         </h2>

         <p>
            نسير بخطى واثقة وصولاً لتمكين عملاؤنا، ودعم استقرارهم في المجال البرمجي والتقني، بأفضل الحلول الأمنية
            والابداعية، بما يضمن سلامة مصالحهم وتطورها وازدهار المكاسب والأعمال.
         </p>
      </div>
      <div class="arrow-down-icon" (click)="scrollTo('ads-center')">
         <i class="fa fa-angle-double-down m-auto"></i>
      </div>
   </div>
</section>