@import "../../../../assets/variables.scss";

.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  color: $white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://www.chamber.sa/HomeSlider/MainBanner.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden !important;
  .arrow-down-icon {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 80px;
    height: 50px;
    background: $primary-color;
    border-radius: 5px 5px 0px 0px;
    cursor: pointer;

    i {
      font-size: 40px;
      margin: auto !important;
      animation: lock 2s cubic-bezier(0.36, 0.07, 0.57, 0.99) infinite;
    }

    @keyframes lock {
      0% {
        transform: scale(1) translateY(0);
      }
      20% {
        transform: scale(1) translateY(-5px);
      }
      30% {
        transform: scale(1) translateY(5px);
      }
      50% {
        transform: scale(1) translateY(-5px);
      }
      60% {
        transform: scale(1) translateY(5px);
      }
      100% {
        transform: scale(1) translateY(0);
      }
    }
  }
}
