<section class="content-section" >
    <div class="content active">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <div class="inline-table">
                        <div class="subject employment">
                            <div class="cont-txt">
                                <h4>خدمات التوظيف</h4>
                                <p>خدمات التوظيف بغرفة الرياض تعمل على المواءمة بين احتياجات منشآت القطاع الخاص من القوى
                                    العاملة الوطنية في مختلف الوظائف والتخصصات وبين الكفاءات المحلية الراغبة بالعمل في
                                    هذه المنشآت،والمساهمة في تأهيل الشباب السعودي للعمل في القطاع الخاص وفقاً لمتطلبات
                                    سوق العمل بهدف إيجاد قوى عاملة وطنية منتجة و مستقرة لتحقيق سياسة توطين الوظائف بشكل
                                    تدريجي ومنظم.</p>
                                <a target="_blank" href="https://recruitment.chamber.sa/startpage/startpage"
                                    class="more">استعراض الخدمات</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="inline-table">
                        <div class="subject training">
                            <div class="cont-txt">
                                <h4>خدمات التدريب</h4>
                                <p>خدمات التدريب بغرفة الرياض تعمل على إحداث طفرة حقيقية للقطاع الخاص ودعم إمكاناته عبر
                                    تقديم خدمات التدريب والتأهيل لمواجهة تحديات المستقبل ومتطلبات التنمية، بالإضافة إلى
                                    تقديم نشاطات تدريبية موجهة للتطوير المستمر لمهارات العاملين بالقطاع الخاص ، وذلك
                                    للمساهمة الفعالة في تشجيع الشباب السعودي للانخراط والعمل في القطاع الخاص وذلك بعد
                                    تدريبه بالشكل الملائم والمناسب.</p>
                                <a href="/TrainingServices" class="more">استعراض الخدمات</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>