<section class="elec-service">

   <h2 class="text-center text-white mt-3">الخدمات الإلكترونية</h2>

   <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-6">
         <div class="box">
            <a><i class="fa fa-3x fa-calendar-check" aria-hidden="true"></i><br>بوابة أعمالي</a>
         </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6">
         <div class="box">
            <a><i class="fa fa-3x fa-globe" aria-hidden="true"></i><br>خدمة سند</a>
         </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6">
         <div class="box">
            <a><i class="fa fa-3x fa-search-plus" aria-hidden="true"></i><br>تطبيق الهواتف الذكية</a>
         </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6">
         <div class="box">
            <a><i class="fa fa-3x fa-mobile-alt" aria-hidden="true"></i><br>خدمة حجز موعد</a>
         </div>
      </div>
      
   </div>
</section>