<section class="elec-service">
   <div class="container">
      <h2 class="text-center text-white">الخدمات الإلكترونية</h2>
      <div class="row justify-content-center vertical-center">
         <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="box">
               <a>
                  <img class="cont-img"
                     src="https://www.chamber.sa/_Layouts/15/RDCCI/Design/ar/images/electro-serv-icon-1.png" alt="">
                  <br>
                  <div class="electronic-text electronic-text-border">
                     <h4>بوابة أعمالي</h4>
                     <p>باقة من الخدمات المقدمة لمشتركي غرفة الرياض تتيح سهولة تنفيذ الأعمال</p>
                  </div>
               </a>
            </div>
         </div>
         <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="box">
               <a>
                  <img class="cont-img"
                     src="https://www.chamber.sa/_Layouts/15/RDCCI/Design/ar/images/electro-serv-icon-2.png" alt="">
                  <br>
                  <div class="electronic-text electronic-text-border">
                     <h4>خدمة سند</h4>
                     <p>
                        التحقق من وثائق بوابة أعمالي
                        التحقق من خطاب التعريف
                        التحقق من الختم والتوقيع
                     </p>
                  </div>
               </a>
            </div>
         </div>
         <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="box">
               <a>
                  <img class="cont-img"
                     src="https://www.chamber.sa/_Layouts/15/RDCCI/Design/ar/images/electro-serv-icon-3.png" alt="">
                  <br>
                  <div class="electronic-text electronic-text-border">
                     <h4>تطبيق الهواتف الذكية</h4>
                     <p>تطبيق غرفة الرياض على الهواتف الذكية</p>
                  </div>
               </a>
            </div>
         </div>
         <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="box">
               <a>
                  <img class="cont-img"
                     src="https://www.chamber.sa/_Layouts/15/RDCCI/Design/ar/images/electro-serv-icon-5.png" alt="">
                  <br>
                  <div class="electronic-text">
                     <h4>خدمة حجز موعد</h4>
                     <p>خدمة حجز موعد في غرفة الرياض</p>
                  </div>
               </a>
            </div>
         </div>

      </div>
   </div>
</section>