@import "../../../../assets/variables.scss";

.elec-service {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://imgur.com/fecHwy8.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.box {
   height: 500px;
   a {
     display: block;
     text-align: center;
     transition: none;
     line-height: 1;
     color: $white;
     cursor: pointer;
     i {
       color: $white;
       padding-bottom: 20px;
     }
     i:hover {
       transition: all 0.15s ease-out 0s;
     }
     img {
       width: 70px;
       padding-bottom: 20px;
     }
   }
 }
