@import "../../../../assets/variables.scss";
.suport-business{
  text-align: center;
  background-image: url(https://www.chamber.sa/_layouts/15/RDCCI/design/ar/images/commitee-bg.png);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 100px 0;
  h2{
    font-size: 40px;
    font-weight: bold;
    color: #ffffff !important;
    margin-bottom: 3rem;
  }
}
.support-section {

    .col-md-4 {
        background: $primary-color;
        border-left: #6d92a6 1px solid;
        padding-top: 80px;
        padding-bottom: 80px;
        position: relative;
        transition: transform 1s;
        transition: .2s ease-in-out;
        -webkit-transition: .2s ease-in-out;
      
          .box a {
            display: block;
            width: 100%;
            height: 100%;
            color: $white;
            text-align: center;
            transition: none;
            line-height: 1;
          }

          .box p {
            line-height: 2;
          }
           
  &:hover {
    background-color: #47748c;
    transform: scale(1.1);
    z-index: 1;
  }
    }

    
}