<h2 class="text-center mt-3">خدمات الغرفة</h2>

<div class="row">
   <div class="col-md-4 col-sm-6 col-xs-6">
      <div class="box">
         <a><i class="fa fa-3x fa-users" aria-hidden="true"></i><br> خدمات المشتركين</a>
      </div>
   </div>
   <div class="col-md-4 col-sm-6 col-xs-6">
      <div class="box">
         <a><i class="fa fa-3x fa-balance-scale" aria-hidden="true"></i><br>خدمات قانونية</a>
      </div>
   </div>
   <div class="col-md-4 col-sm-6 col-xs-6">
      <div class="box">
         <a><i class="fa fa-3x fa-question" aria-hidden="true"></i><br>خدمات الإستعلام</a>
      </div>
   </div>
</div>

<div class="row">
   <div class="col-md-4 col-sm-6 col-xs-6">
      <div class="box">
         <a><i class="fa fa-3x fa-briefcase" aria-hidden="true"></i><br>خدمات ريادة الأعمال</a>
      </div>
   </div>
   <div class="col-md-4 col-sm-6 col-xs-6">
      <div class="box">
         <a><i class="fa fa-3x fa-hand-holding-medical" aria-hidden="true"></i><br>خدمات التنميةالمستدامة</a>
      </div>
   </div>
   <div class="col-md-4 col-sm-6 col-xs-6">
      <div class="box">
         <a><i class="fa fa-3x fa-calendar-alt" aria-hidden="true"></i><br>خدمات الإرشاد الضريبي</a>
      </div>
   </div>
</div>