/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700&display=swap');
$font-family: 'Cairo', sans-serif;

body {
   font-size: 14px;
   text-align: right;
   overflow-x: hidden;
   font-family: $font-family;
   background-color: whitesmoke;
   color: black;
}


@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
// @import url(./assets/variables.scss);



@keyframes scale {
   0% {
       transform: scale(.8);
   }

   50% {
       transform: scale(1);
   }
   
   100% {
       transform: scale(.8);
   }
}