/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700&display=swap');
$font-family: 'Cairo', sans-serif;

body {
   font-size: 14px;
   text-align: right;
   overflow-x: hidden;
   font-family: $font-family;
   background-color: whitesmoke;
   color: black;
}