<footer>
   <div class="footer-navs">
      <div class="row"></div>
      <hr>
      <div class="row">
         <div class="col-lg-2"><a>الرئيسية</a></div>
         <div class="col-lg-2"><a>الأسئلة الشائعة</a></div>
         <div class="col-lg-2"><a>الشكاوى والاقتراحات</a></div>
         <div class="col-lg-2"><a>اتصل بنا</a></div>
         <div class="col-lg-2"><a>خريطة الموقع</a></div>
         <div class="col-lg-2"><a>سياسة الخصوصية</a></div>
      </div>
      <hr>
      <div class="row">
         <div class="col-md-4 col-xs-12 social">
            <div class="row">
               <div class="col-lg-2"><i class="fab fa-twitter"></i></div>
               <div class="col-lg-2"><i class="fab fa-linkedin"></i></div>
               <div class="col-lg-2"><i class="fab fa-facebook"></i></div>
               <div class="col-lg-2"><i class="fab fa-youtube"></i></div>
            </div>
         </div>
      </div>
   </div>
</footer>